<div class="eca-actions">
	<button
		mat-flat-button
		color="secondary"
		(click)="reset()"
		[disabled]="!selectedEntity || (loader.isLoading | async)"
	>
		<mat-icon>arrow_back</mat-icon>{{ 'main.resetButtonLabel' | translate }}
	</button>
	<button mat-flat-button color="primary" (click)="action()" [disabled]="false">
		{{ 'main.actionButtonLabel' | translate }}
	</button>
</div>

@if (entities.length && !selectedEntity) {
	<app-entity-list
		[entities]="entities"
		(selectedEntity)="selectEntity($event)"
	/>
} @else if (selectedEntity) {
	<app-entity-detail [entity]="selectedEntityDetails$ | async" />
} @else {
	<p>{{ 'main.noEntities' | translate }}</p>
}
@if (loader.isLoading | async) {
	<div class="loading-shade">
		<mat-spinner
			diameter="50"
			[mode]="(loader.mode | async) ?? 'indeterminate'"
			[value]="loader.progress | async"
		></mat-spinner>
	</div>
}
